# Gradle
.gradle/
build/
*/build/

# Local configuration
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# IntelliJ
*.iml
*.ipr
*.iws

# Logs
*.log

# Android
captures/
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore

# Misc
.DS_Store
Thumbs.db